__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

data/
!dashboard/data/
!dashboard/data/*.json
raw_zip/
clean/
clean_full/
features/
modeling/
results/
logs/
manifests/
asset_prices/

*.parquet
*.csv
*.zip
*.log
*.out
*.err
